annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
guidata==3.1.0
guiqwt==4.4.4
h5py==3.10.0
idna==3.6
numpy==1.26.3
packaging==23.2
pillow==10.2.0
pydantic==2.6.1
pydantic_core==2.16.2
pyqt-tools==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
PythonQwt==0.11.2
QtPy==2.4.1
requests==2.31.0
scipy==1.12.0
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.2.0
